<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Registro Comedor</title>
</head>
<body>
    <ul>
        <li><a href="/">INICIO</a></li>
        <li><a href="/registarestudiante">REGISTRAR ESTUDIANTE</a></li>
        <li><a href="/agregarestudiante">AGREGAR ESTUDIANTE</a></li>
     
        
    </ul>
    <h1>BIENVENIDO AL SISTEMA DE REGISTRO DEL COMEDOR</h1>
</body>
</html>